@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/global.scss";
@import "../../styles/reset.scss";

.login-page {
  background: #f5f5f5;
  padding: 10px;

  @include breakpoint-up(medium) {
    padding: 30px;
  }

  @include breakpoint-up(large) {
    padding-left: 67px;
    padding-top: 106px;
  }

  &__logo {
    display: none;

    @include breakpoint-up(large) {
      display: flex;
      max-width: 173.76px;
      width: 100%;
      height: 36px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
  }

  &__art {
    .login-page__img {
      display: none;
      @include breakpoint-up(large) {
        display: flex;
        max-width: 600px;
        width: 100%;
        height: 337.57px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    @include breakpoint-up(large) {
      max-width: 704px;
      width: 100%;
      margin-left: 40px;
      // margin-left: 100px;
    }
  }

  &__logo-mobile {
    margin-bottom: 60px;

    @include breakpoint-up(large) {
      display: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px;

    @include breakpoint-up(large) {
      align-items: start;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 60px;
    }
  }

  &__title {
    font-size: 2rem;
    color: #213f7d;
    font-weight: bold;

    @include breakpoint-up(large) {
      font-size: 2.5rem;
    }
  }
  &__subtitle {
    color: #545f7d;
    font-size: 16px;
    font-weight: 500;

    @include breakpoint-up(large) {
      font-size: 20px;
    }
  }
}

// Login form block
.login-form {
  &__field {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    width: 100%;

    @include breakpoint-up(large) {
      max-width: 447px;
      width: 100%;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.25rem;
  }

  &__input {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(84, 95, 125, 0.15);
    padding: 18px 16px;
    font-size: 14px;
    font-weight: 400;
  }

  /* placeholder styling */
  &__input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
  }

  /* show button positioned inside input at extreme end */
  &__toggle-wrapper {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }

  &__toggle {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #39cdcc; 
    font-size: 12px; 
    cursor: pointer;
  }

  &__error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  &__actions {
     margin-top: 12px;
     width: 100%;
     
    .login-form__submit {
      background-color: #39cdcc; 
      color: #ffffff; 
      
      width: 100%;
      height: 48px; 
      border-radius: 8px; 
      border: none;
      cursor: pointer;
      display: inline-block;

        @include breakpoint-up(large) {
    max-width: 447px;
    
  }
    }
  }

  /* forgot password styling */
  &__forgot-wrapper {
    margin-top: 8px;
    max-width: 447px;
  }

  &__forgot {
    background: none;
    border: none;
    padding: 0;
    color: #39cdcc;
    font-size: 12px;
    font-weight: 700;
    font-family: "inter", sans-serif;
    text-transform: capitalize;
    cursor: pointer;
  }
}
