.details {
  h4 {
    font-size: 16px;
    font-weight: 500;
    color: #213F7D;
    margin-bottom: 30px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      font-size: 12px;
      color: #545F7D;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      color: #545F7D;
    }
  }

  hr {
    border: none;
    height: 1px;
    background: #213F7D;
    margin: 28px 0 30px;
  }
}
