@import "../../../styles/mixins.scss";

.details {
  width: 100%;
  overflow-x: auto;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;

  @include breakpoint-up(medium) {
    padding: 30px;
  }

  @include breakpoint-up(large) {
    padding: 30px;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    color: #213f7d;
    margin-bottom: 30px;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px 20px;

    @include breakpoint-up(large) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px 100px;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      font-size: 12px;
      color: #545f7d;
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      color: #545f7d;
      word-break: break-word; 
      overflow-wrap: anywhere; 
      max-width: 100%;
    }
  }

  hr {
    border: none;
    height: 0.2px;
    background: #545f7d;
    opacity: 0.3;
    margin: 28px 0 30px;
  }
}
