/* Global fonts and base styles for the entire app */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root,
body {
  font-family: 'Inter', 'Avenir', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.3;
  overflow-x: hidden;

}

/* You can add other global base styles here (resets, variables, etc.) */
