@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './reset.scss';
@import './global.scss';
@import './variables.scss';
@import './mixins.scss';


