.dashboard-card {
  width: 240px;
  height: 160px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 20px 30px 30px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    color: #545F7D;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__number {
    margin: 0;
    font-size: 24px;
    color: #213F7D;
    font-weight: 600;
  }
}
