@import '../../styles/mixins.scss';

.user-card {
  background: #fff;
  padding: 30px;
  max-width: 100%;
  

  .card-row {
    display: flex;
    flex-direction: column;
    gap: 30px;

     @include breakpoint-up(medium) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }

   &__user {
     display: flex;
     align-items: center;
   }
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name-block {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    h3 {
      font-size: 22px;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      color: #545F7D;
    }
  }

  .divider {
     display: none;

     @include breakpoint-up(large) {
      display: block;
       height: 80px;
    width: 1px;
    background: #ddd;
    margin: 0 30px;
  }

  }

  .rating {
      display: flex;
      flex-direction: column;
      gap: 8px;
    span {
      color: #545F7D;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .bank {
    h4 {
      font-size: 22px;
      font-weight: 500;
    }

    p {
      color: #545F7D;
    }
  }
}
