.user-card {
  background: #fff;
  padding: 30px;
  max-width: 100%;

  .row {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name-block {
    margin-left: 20px;

    h3 {
      font-size: 22px;
      font-weight: 500;
    }

    p {
      margin-top: 8px;
      color: #545F7D;
    }
  }

  .divider {
    height: 80px;
    width: 1px;
    background: #ddd;
    margin: 0 30px;
  }

  .rating {
    color: #545F7D;
    font-size: 14px;
  }

  .bank {
    h4 {
      font-size: 22px;
      font-weight: 500;
    }

    p {
      color: #545F7D;
    }
  }
}
