@import '../../styles/mixins.scss';

.sidebar {
  width: 283px;
  max-width: 283px;
  background: #ffffff;
  position: fixed;
  top: 100px;
  left: 0;
  height: calc(100vh - 100px); 
  overflow-y: auto;
  padding-top: 19px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.closed {
  transform: translateX(-100%);

  @include breakpoint-up(large) {
   transform: none;
   padding-bottom: 0;
  }
}

/* OPEN STATE */
.sidebar.open {
  transform: translateX(0);

  @include breakpoint-up(large) {
   transform: none;
  }
}

/* CONTENT WRAPPER */
.sidebar-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

   @include breakpoint-up(large) {
   margin-top: 0;
  }
}

/* ================= TOP SECTION ================= */

.sidebar-top-section {
  display: flex;
  flex-direction: column;
}

/* Switch Organization */
.org-switcher-wrapper {
  position: relative;
}

.org-switcher {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.org-switcher-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.org-switcher-arrow {
  font-size: 12px;
}

/* Space between Switch Org and Dashboard */
.sidebar-top-section > .sidebar-item {
  margin-top: 52px;
}

/* Space between Dashboard and first title */
.sidebar-main-sections {
  margin-top: 41px;
}

/* ================= SECTIONS ================= */

.sidebar-section {
  margin-bottom: 41px;
}

.sidebar-section-title {
  font-size: 12px;
  font-weight: 500;
  color: #545f7d;
  margin-bottom: 31px;
}

/* Items stack */
.sidebar-section-items {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

/* ================= SIDEBAR ITEM ================= */

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #213f7d;
  font-size: 14px;
  text-align: left;
}

/* ICON */
.sidebar-item-icon {
  width: 16px;
  height: 16px;

  img {
    width: 100%;
    height: 100%;
  }
}

/* BADGE */
.sidebar-item-badge {
  margin-left: auto;
  font-size: 12px;
  background: #e9ecef;
  border-radius: 12px;
  padding: 2px 6px;
}

/* ACTIVE STATE */
.sidebar-item.active {
  background: #39cdcc;
  padding: 10px 0;
  border-radius: 8px;
  opacity: 1;
}

.sidebar-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #545f7d;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint-up(large) {
      display: none;
   }

  &:hover {
    color: #213f7d;
  }
}

